body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(150deg, rgb(243, 73, 73), #ffad50, #e52d27);
}

.container {
    background-color: rgba(255, 255, 255, 0.384);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.visor {
    width: 90%;
    background-color: rgb(231, 231, 231);
    color: black;
    margin: 0 auto;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    height: 20px;
} #visorInfo {
    padding: 0 10px;
}

.grid {
    margin: 5px 20px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.gridNumbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5px;
    vertical-align: middle;
    border-bottom: solid 3px black;
    padding-bottom: 5px;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    border-radius: 20px;
}

.topGrid, .underGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.topGrid {
    grid-template-columns: repeat(4,1fr);
}

.numbers, .operadores {
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    transition: all 200ms ease-in-out;
} .numbers:hover, .operadores:hover {
    background-color: rgb(174, 174, 174);
    cursor: pointer;
    transform: scale(1.112);
}

footer {
    margin-top: 10px;
    color: white;
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
} 
a {
    color: white;
    text-underline-offset: 3px;
    margin-left: 3px;
}
p {
    margin: 5px 10px;    
}