body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.visor {
    width: 90%;
    background-color: rgb(45, 45, 45);
    margin: 0 auto;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 25px;
    height: 20px;
} #visorInfo {
    padding: 0 10px;
}

.grid {
    background-color: white;
    margin: 20px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.gridNumbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5px;
    vertical-align: middle;
    border-bottom: solid 3px black;
    padding-bottom: 5px;
}

.numbers, .operadores {
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    transition: all 200ms ease-in-out;
} .numbers:hover, .operadores:hover {
    background-color: rgb(174, 174, 174);
    cursor: pointer;
    transform: scale(1.12);
}